header{
    text-align: center;
    color: red;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    font-size: 30px;
    display: inline-block;
    position: fixed;
    background-color: #1f1f1f;
}
header hr{
    margin: 0;
    z-index: 4;
}
header h1{
    margin: 1px;
    font-family: 'Trade Winds', cursive;
}
html{
    background-color: #1f1f1f;
}
nav{
    padding: 0px;
    text-align: center;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    margin: 5px;
    font-size: 24px;
    display: inline-block;
}
nav li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
}
nav li a:hover{
    text-decoration: underline;
}
hr{
    border: 1px solid red;
}
.redline{
    top: 100px;
}
.images{
    text-align: center;
    margin: 80px 0;
}
.images li{
    display: inline-block;
    width: 30%;
    margin: 5px 1%;
}
.images li img{
    max-width: 100%;
}
.images li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
}
.images li a:hover{
    text-decoration: underline;
    font-weight: bold;
}
.images li p{
    text-decoration: none;
    color: white;
    font-family: Arial
}
.images img{
    border: 2px solid red;
    border-radius: 16px;
}
.images img:hover{
    border: 1px solid red;
    box-shadow: black 0px 0px 30px;
}
.wishlist{
    color: white;
    text-align: center;
    font-family: Arial;
}
main h2{
    color: white;
    text-align: center;
    font-family: Arial;
    font-weight: 100;
    margin: 5px;
}
h2{
    text-align: center;
    padding: 0px;
    font-family: Arial;
    color: white;
}
.songs{
    text-align: center;
    margin: 80px 0;
    right: 10px;
}
.songborder li{
    border: 2px solid red;
    border-radius: 16px;
}
.songborder li .kvd{
    border-radius: 13px;
    border-bottom: 3px solid red;
    max-width: 30%;
    max-height: 30%;
}
.songborder .kvd:hover{
    border-radius: 16px;
    border-bottom: 3px solid red;
}
.songs li{
    display: inline-block;
    max-width: 30%;
    margin: 5px 1%;
}
.songs li .kvd{
    max-width: 100%;
}
.songs li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-size: 20px;
}
.songborder li:hover{
    box-shadow: black 0px 0px 30px;
}
.kvd{
    display: inline-block;
    width: 500px;
    height: 500px;
    background: transparent url("../img/König von deutschland.png") no-repeat 0 0;
}
.kvd:hover{
    background-position: 0 -500px;
}
audio:focus{
    outline: none;
}
